<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.timappweb.timapp" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <!--
 The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but are recommended.
    -->
    <uses-permission android:name="android.permission.ACCESS_GPS" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <!--
     To retrieve OAuth 2.0 tokens or invalidate tokens to disconnect a user. This disconnect
     option is required to comply with the Google+ Sign-In developer policies
    -->
    <uses-permission android:name="android.permission.USE_CREDENTIALS" /> <!-- To retrieve the account name (email) as part of sign-in: -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" /> <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <!--android:debuggable="true" has been removed -->
    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/test20"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="@string/google_maps_key" />

        <!-- EXPLORE ACTIVITY //////////////////////////////////////////////-->
        <activity
            android:name=".activities.DrawerActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:configChanges="orientation|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- LOGIN ACTIVITY //////////////////////////////////////////////-->
        <activity
            android:name=".activities.LoginActivity"
            android:label="@string/title_activity_login"
            android:windowSoftInputMode="adjustPan" >
        </activity>

        <service
            android:name=".services.FetchAddressIntentService"
            android:exported="false" >
        </service>

        <!-- FILTER ACTIVITY //////////////////////////////////////////////-->
        <activity
            android:name=".activities.FilterActivity"
            android:label="@string/title_activity_filter"
            android:parentActivityName=".activities.DrawerActivity"
            android:windowSoftInputMode="stateVisible">

            <!-- Make activity searchable -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.DrawerActivity" />
        </activity>

        <!-- LOCATE ACTIVITY //////////////////////////////////////////////-->
        <activity android:name=".activities.LocateActivity"
            android:parentActivityName=".activities.DrawerActivity"
            android:windowSoftInputMode="stateAlwaysHidden">
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.DrawerActivity" />
        </activity>

        <!-- TAG ACTIVITY //////////////////////////////////////////////-->
        <activity android:name=".activities.TagActivity"
            android:parentActivityName=".activities.LocateActivity"
            android:windowSoftInputMode="adjustNothing|stateHidden" >
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.LocateActivity" />
        </activity>

        <!-- PUBLISH ACTIVITY //////////////////////////////////////////////-->
        <activity android:name=".activities.PublishActivity"
            android:parentActivityName=".activities.TagActivity" >
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.TagActivity" />
        </activity>

        <!-- ADDPOSTACTIVITY ACTIVITY //////////////////////////////////////////////-->

        <!-- POST ACTIVITY //////////////////////////////////////////////-->
        <activity
            android:name=".activities.PostActivity"
            android:label="@string/title_activity_post"
            android:parentActivityName=".activities.DrawerActivity" >
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.DrawerActivity" />
        </activity>

        <!-- PLACE ACTIVITY //////////////////////////////////////////////-->
        <activity
            android:name=".activities.PlaceActivity"
            android:label="@string/title_activity_place"
            android:parentActivityName=".activities.DrawerActivity" >
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.DrawerActivity" />
        </activity>

        <!-- PROFILE ACTIVITY //////////////////////////////////////////////-->
        <activity
            android:name=".activities.ProfileActivity"
            android:label="@string/title_activity_profile"
            android:parentActivityName=".activities.DrawerActivity" >
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.DrawerActivity" />
        </activity>

        <!-- PROFILE ACTIVITY //////////////////////////////////////////////-->
        <activity
            android:name=".activities.MyProfileActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".activities.DrawerActivity" >
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.DrawerActivity" />
        </activity>

        <!-- SETTINGS ACTIVITY //////////////////////////////////////////////-->
        <activity
            android:name=".activities.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".activities.DrawerActivity" >
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.DrawerActivity" />
        </activity>

        <!-- SETTINGS ACTIVITY //////////////////////////////////////////////-->
        <activity android:name=".activities.AddPlaceActivity"
            android:label="Add Event"
            android:parentActivityName=".activities.LocateActivity">
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.DrawerActivity" />
        </activity>

    </application>
</manifest>