<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.timappweb.timapp">

    <!--
    PERMISSIONS
     -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_SYNC_STATS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> <!-- For Camera -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS"/>
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS"/>

    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.CAMERA" />
    <!--
 The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but are recommended.
    -->
    <uses-permission android:name="android.permission.ACCESS_GPS" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <!--
     To retrieve OAuth 2.0 tokens or invalidate tokens to disconnect a user. This disconnect
     option is required to comply with the Google+ Sign-In developer policies
    -->
    <uses-permission android:name="android.permission.USE_CREDENTIALS" /> <!--To retrieve the account name (email) as part of sign-in -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" /> <!--To auto-complete the email text field in the login form with the user's emails -->
    <!--<uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />-->

    <uses-sdk
        android:minSdkVersion="16" />

    <!--android:debuggable="true" has been removed -->
    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:largeHeap="true"
        tools:replace="android:theme">

        <!-- DATABASE CONFIGURATION -->
        <!-- pre populate db -->
        <meta-data android:name="AA_DB_NAME" android:value="@string/db_name" />
        <meta-data android:name="AA_DB_VERSION" android:value="21" />
        <!--
        // TODO for production set models to speed up launch
        <meta-data  android:name=""AA_MODELS"
            android:value="${applicationId}.data.models.UserActivity" />-->


        <!-- SYNC ADAPTERS ===================================================================== -->
        <!-- ConfigSyncAdapter's dummy authentication service -->
        <service android:name=".sync.AuthenticatorService">
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator" />
            </intent-filter>
            <meta-data
                android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/authenticator" />
        </service>

        <!-- CONFIGURATION -->
        <!-- This service implements our ConfigSyncAdapter. It needs to be exported, so that the system
        merge framework can access it. -->
        <service android:name=".sync.config.ConfigSyncService"
            android:exported="true"
            android:enabled="true" >
            <!-- This intent filter is required. It allows the system to launch our merge service
            as needed. -->
            <intent-filter>
                <action android:name="android.content.SyncAdapter" />
            </intent-filter>
            <!-- This points to a required XML file which describes our ConfigSyncAdapter. -->
            <meta-data
                android:name="android.content.SyncAdapter"
                android:resource="@xml/syncadapter_config" />
        </service>

        <service android:name=".sync.data.DataSyncService"
            android:exported="false"
            android:enabled="true" >
            <!-- This intent filter is required. It allows the system to launch our merge service
            as needed. -->
            <intent-filter>
                <action android:name="android.content.SyncAdapter" />
            </intent-filter>
            <!-- This points to a required XML file which describes our ConfigSyncAdapter. -->
            <meta-data
                android:name="android.content.SyncAdapter"
                android:resource="@xml/syncadapter_data" />
        </service>

        <service android:name=".sync.user.UserSyncService"
            android:exported="false"
            android:enabled="true" >
            <!-- This intent filter is required. It allows the system to launch our merge service
            as needed. -->
            <intent-filter>
                <action android:name="android.content.SyncAdapter" />
            </intent-filter>
            <!-- This points to a required XML file which describes our ConfigSyncAdapter. -->
            <meta-data
                android:name="android.content.SyncAdapter"
                android:resource="@xml/syncadapter_user" />
        </service>


        <provider android:name=".sync.config.DummyProvider"
            android:authorities="@string/content_authority_config"
            android:syncable="true"
            android:label="DummyConfigProvider" />

        <provider android:name=".sync.data.DummyProvider"
            android:authorities="@string/content_authority_data"
            android:syncable="true"
            android:label="DummyDataProvider" />

        <provider android:name=".sync.user.DummyProvider"
            android:authorities="@string/content_authority_user"
            android:syncable="true"
            android:label="DummyUserProvider" />

        <!-- END SYNC ADAPTERS ===================================================================== -->


        <!-- GMS -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="@string/google_maps_key" />
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id"/>

        <!-- SPLASH ACTIVITY //////////////////////////////////////////////-->
        <activity
            android:name=".activities.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activities.ErrorActivity">
        </activity>

        <!-- EXPLORE ACTIVITY //////////////////////////////////////////////-->

        <activity
            android:name=".activities.DrawerActivity"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_explore"
            android:launchMode="singleTop"
            android:configChanges="orientation|screenSize"
            android:theme="@style/AppTheme">

            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:host="@string/deep_link_host_timapp" android:scheme="http"/>
                <data android:host="@string/deep_link_host_timapp" android:scheme="https"/>
                <data android:host="@string/deep_link_host_firebasee" android:scheme="https"/>
            </intent-filter>
        </activity>

        <!-- LOGIN ACTIVITY //////////////////////////////////////////////-->
        <activity
            android:name=".activities.LoginActivity"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_login"
            android:windowSoftInputMode="adjustPan"
            android:parentActivityName=".activities.DrawerActivity" >
        </activity>

        <service
            android:name=".services.FetchAddressIntentService"
            android:exported="false" >
        </service>

        <!--
        <service android:name=".services.MyInstanceIDListenerService" android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.gms.iid.InstanceID"/>
            </intent-filter>
        </service>
        <service
            android:name=".services.MyGcmListenerService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>-->
        <service
            android:name=".services.MyFcmListenerService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <service
            android:name=".services.MyInstanceIDListenerService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>
            </intent-filter>
        </service>

        <!-- FILTER ACTIVITY //////////////////////////////////////////////-->
        <activity
            android:name=".activities.FilterActivity"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_filter"
            android:theme="@style/AppTheme"
            android:parentActivityName=".activities.DrawerActivity">

            <!-- Make activity searchable -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>

        <!-- LOCATE ACTIVITY //////////////////////////////////////////////-->
        <activity android:name=".activities.LocateActivity"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_locate"
            android:launchMode="singleTop"
            android:parentActivityName=".activities.DrawerActivity"
            android:windowSoftInputMode="stateAlwaysHidden">
        </activity>

        <!-- TAG ACTIVITY //////////////////////////////////////////////-->
        <activity android:name=".activities.AddTagActivity"
            android:screenOrientation="portrait"
            android:parentActivityName=".activities.EventActivity"
            android:windowSoftInputMode="adjustNothing|stateHidden" >
        </activity>

        <!-- ADD SPOT ACTIVITY //////////////////////////////////////////////-->
        <activity
            android:name=".activities.AddSpotActivity"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_add_spot"
            android:parentActivityName=".activities.AddEventActivity">
        </activity>

        <!-- PLACE ACTIVITY //////////////////////////////////////////////-->
        <activity
            android:name=".activities.EventActivity"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_place"
            android:theme="@style/WhiteMenuActionbar"
            android:parentActivityName=".activities.DrawerActivity" >
            <intent-filter>
                <action android:name="OPEN_PLACE_FROM_NOTIFICATION" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- VIEW PAGER ACTIVITY //////////////////////////////////////////////-->
        <activity
            android:name=".activities.PresentationActivity"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_presentation"
            android:parentActivityName=".activities.DrawerActivity" >
        </activity>

        <!-- EVENTS PICTURES ACTIVITY //////////////////////////////////////////////-->
        <activity
            android:name=".activities.EventPicturesActivity"
            android:label="@string/title_activity_place"
            android:parentActivityName=".activities.EventActivity" >
        </activity>

        <!-- Add People ACTIVITY //////////////////////////////////////////////-->
        <activity
            android:name=".activities.InviteFriendsActivity"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_invite_friends"
            android:parentActivityName=".activities.EventActivity" >
        </activity>

        <!-- List People ACTIVITY //////////////////////////////////////////////-->
        <activity
            android:name=".activities.ListFriendsActivity"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_list_friends"
            android:parentActivityName=".activities.DrawerActivity" >
        </activity>

        <!-- Invitations ACTIVITY //////////////////////////////////////////////-->
        <activity
            android:name=".activities.InvitationsActivity"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_invitations"
            android:parentActivityName=".activities.DrawerActivity" >
        </activity>

        <!-- PROFILE ACTIVITY //////////////////////////////////////////////-->
        <activity
            android:name=".activities.ProfileActivity"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_profile"
            android:parentActivityName=".activities.DrawerActivity" >
        </activity>

        <!-- EDIT PROFILE ACTIVITY //////////////////////////////////////////////-->
        <activity
            android:name=".activities.EditProfileActivity"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_edit_profile"
            android:windowSoftInputMode="adjustNothing|stateVisible"
            android:parentActivityName=".activities.ProfileActivity"
            android:theme="@style/SearchViewAccentWhiteTheme">
        </activity>

        <!-- SETTINGS ACTIVITY //////////////////////////////////////////////-->
        <activity
            android:screenOrientation="portrait"
            android:name=".activities.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".activities.DrawerActivity" >
        </activity>

        <!-- ADDPLACE ACTIVITY //////////////////////////////////////////////-->
        <activity android:name=".activities.AddEventActivity"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_add_event"
            android:theme="@style/SecondaryToolbarTheme"
            android:parentActivityName=".activities.LocateActivity">
        </activity>

        <!-- SHARE ACTIVITY //////////////////////////////////////////////-->
        <activity android:name=".activities.ShareActivity"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_share_app"
            android:parentActivityName=".activities.DrawerActivity">
        </activity>

        <!-- FACEBOOK ACTIVITY //////////////////////////////////////////////-->
        <activity android:name="com.facebook.FacebookActivity"
            android:screenOrientation="portrait"
            android:configChanges=
                "keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:label="@string/app_name" />

    </application>
</manifest>